<template>
    <div>
    <h1>{{ name }}</h1>
    <!--<p>{{ tasks[0]}}</p>
    <p>{{ tasks[1] }}</p>
    <hr/>
            <ComponentA />
            <ComponentB />
            <ComponentC />-->
            <p>{{ frist_name }}{{ last_name }}</p>
            <p>{{ fullName }}</p>
    </div>
</template>

<script>
//import ComponentA from './ComponentA.vue';
//import ComponentA from './ComponentB.vue';
//import ComponentA from './ComponentC.vue';
    export default {
        name:'GreetingMessage',
       // props : ['first_name','last_name','fullName'],
       props:{
            frist_name:String,
            last_name:String,
            fullName:{
                type : String,
                //detault:'Unknow'
                required:true
            }
        },
        Component : {
            //ComponentA,
           // ComponentB,
           // ComponentC,
        },
        data : () {
            return{
                name:"mark Zuckerberg",
                tasks :[
                    {id:1, title :'Buy some milk', isFav:false},
                    {id:2, title :'Play games', isFav:false},
                ]
            }
        },
    }
    </script>
    <style long="scss"scoped>
    
    </style>