<template>
 <div>
    <img src="./assets/logo.png" alt ="vue logo">
    <!-- Static value -->
      <greetingmessaage fist_name="Mark" last_name="Zuckerberg"/>
      <greetingmessaage fist_name="Aren" last_name="yeger"/>
      <greetingmessaage fist_name="Mint" last_name="Mint"/>
      <hr>
      <!--Dynamic value-->
      <greeting-message :first_name="fName" v-bind:lang_name="lName">
      <greeting-message v-bind:full_name="fullName"/>
 </div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue'

export default {
  name: 'App',
  data () {
    return {
      fName :' Jhon ' ,
      lName: ' doe ' ,
  }
},
computed :{
  GreetingMessaage,
}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
